.kill{
  width: 1em;
  height: 1em;
  border: 2px solid red;
  color:#A10000;
  cursor: pointer;
  display:inline-block;
  margin-left:1em;
}

#controls{
  border: 2px solid black;
  margin-bottom:1em;
  margin-left:auto;
  margin-right:auto;
  padding:.5em;
  border-radius:2em;
  width: fit-content;
  block-size: fit-content;
  background-color:rgb(203,40,25);
}

#display{
  background-color:rgb(252,218,34);
  border-radius: 2em;
  margin-bottom:1em;
  margin-left:auto;
  margin-right:auto;
  width: 30em;
  block-size: fit-content;
  font-size: 2em;
  padding: 1em;
  text-align: center;
}

#saveList{
  background-color:rgb(229,225,213);
  margin-left:auto;
  margin-right:auto;
  width: 40em;
  font-size: 1.25em;
  padding: 1em;
  text-align: center;
  border-radius:1em;
}
h1{
  text-align: center;
  color:rgb(32,28,38)
}
body{
  background-color:rgb(89,51,88);
  font-family: Helvetica, sans-serif;
}
#mask{
  background-color:rgb(24,89,127);
  margin-left:auto;
  margin-right:auto;
  border-radius:7em;
  padding-top:2em;
  padding-bottom:2em;
  padding-left:1em;
  padding-right:1em;
  width: fit-content;
  block-size: fit-content
}
#foot{
  bottom:0;
  left: 0; 
  right: 0; 
  position:fixed;
  text-align: center;
  margin: auto;
  width: 50%;
  margin-bottom:1em;
  background-color:rgb(56,21,53);
  color:rgb(229,225,213);
  padding:1em;
  border-radius:1em;
  
}